.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    position: relative;
    top: 0;
    left: 0;
    .menu{
        display: none;
    }
    .logo{
        cursor: pointer;
    }
    .nav{
      ul{
        display: flex;
        column-gap: 20px;
        list-style: none;
        li{
            font-family: Barlow;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0.9230769276618958px;
            text-align: left;
            a{
                color: #83888F;
                text-decoration: none;
                &:hover{
                    color: #333D4B;
                }
            }
        }
      }
    }
    .dropdown{
        display: block;
        position: absolute;
        top: 30px;
        right: 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 0px 0px 8px 8px;
        ul{
            padding: 10px;
            li{
                padding: 10px 5px;
                border-bottom: 1px solid #ccc;
                a{
                    color: #333D4B;
                    font-size: 15px;
                }
            }
            
        }
    }
}
@media only screen and (max-width: 768px) {
    .navbar-container{
        .menu{
            display: block;
            cursor: pointer;
            width: 30px;
            height: 20px;
        }
        .nav{
            display: none;
        }
    }
}
